uvicorn[standard]
fastapi[all]
pydantic
pydantic-settings
pytest
azure-cosmos
pyodbc
sqlalchemy
PyJWT
python-dotenv
pandas
openpyxl
langchain
langchain-openai
openai
email_validator
msal
azure-identity
